/* globals.css */
@import "tailwindcss";

/* 1️⃣ Regular CSS variables */
:root {
  --primary: #1E4B96;
  --secondary: #F9DD4A;
  --accent: #3375C2;
  --background: #9ec5e98c;
  --foreground: #171717;
}

/* 2️⃣ Link CSS vars to Tailwind theme utilities */
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* 3️⃣ Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #1E4B96;
    --secondary: #F9DD4A;
    --accent: #3375C2;
    --background: #9ec5e98c;
    --foreground: #151617;
  }
} 

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  margin-left: 5px;
}

::-webkit-scrollbar-thumb {
  background: #F9DD4A;
  border-radius: 8px;
}


